.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	color: black;
	border-radius: 800px;
	border: 0px;
	text-wrap: nowrap;
	padding: 16px;
	margin: 8px;
	height: 32px;
}

.button:hover {
	cursor: pointer;
}

.containerHovered {
	background-color: #154bc2;
	color: white;
	transition: all 0.2s ease-in-out;
}

.backgroundBlue {
	background-color: #154bc2;
	color: white;
	padding: 24px;
}

@media screen and (min-width: 1023px) {
	.button {
		height: 40px;
		padding: 16px 24px;
	}
}
