.display {
	display: none;
}

.container {
	width: calc(100vw - 16px);
	height: fit-content;
	padding: 8px;
	transition: all 0.2s ease-in-out;
	border-radius: 8px;
	margin: 8px;
}

.container:hover {
	background-color: white;
}

.navbarContent {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	max-width: 800px;
}

.navigationButtons ul,
.loginButton {
	display: none;
}

.accountButtons {
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 8px;
}

.accountButtons a:first-child {
	display: none;
}
@media screen and (min-width: 800px) {
	.navbarContent {
		margin: 0 auto;
	}
}

@media screen and (min-width: 1023px) {
	.navbarContent {
		width: calc(100vw - 16px);
	}
	.navbarButtons {
		display: flex;
		width: 100%;
		align-items: center;
	}

	.navigationButtons ul {
		display: flex;
		flex-direction: row;
		padding: 0;
		gap: 32px;
	}

	.navigationButtons ul:hover {
		cursor: pointer;
		font-weight: bolder;
	}

	.accountButtons a:first-child {
		display: block;
	}
}

@media screen and (min-width: 1439px) {
	.navbarContent {
		width: calc(100vw - 16px);
	}
}
